# Our
*.txt
*.png
*.rar
gui.ipynb

# Ignore IDE-specific settings for PyCharm
.idea/
.idea/*
.idea/*.*

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environments
venv/
env/
.venv/
.env/

# Ignore VS Code settings
.vscode/
.vscode/*.*

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore compiled C extensions
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore cache files
.cache/
